<div id="features">
    <div class="container">
        <div class="section_header">
             <div class="start pull-right">
                <a href="#">Get a Free Consultation<i class="icon-circle-arrow-right icon-white"></i></a>
            </div>
            <h5 class="blue">MAKE BETTER DECISIONS</h5>
            <h3>How CoreHero Works...</h3>
        </div> 
        <div class="row feature">
            <div class="span6">
                <%= image_tag "showcase1.png"%>
            </div>
            <div class="span6 info">
                <h3>
   					<%= image_tag "features-ico1.png"%>
                    Your Online Wellness Advisor
                </h3>
                <p>
                    We have financial consultants to help make better decisions with money.
                    We have legal consultants to help make better decisions about legal matters.
                    It’s about time you have a Health & Wellness Consultant to help you make better decisions for your body.                        
                </p>
            </div>
        </div>
        <div class="row feature ss">
            <div class="span6 info">
                <h3>
                    <%= image_tag "features-ico2.png"%>
                    Your 24/7 Personal Trainer
                </h3>
                <p>
                   CoreHero is a health and wellness consulting company that works with its clients long-term to help them reach their goals. We consult in every aspect of their lives with respect to health, researching, strategizing, and sharing solutions with our clients on a personal level.   
                </p>
            </div>
            <div class="span6">
				<%= image_tag "showcase2.png", class: "pull-right" %>
            </div>
        </div>
        <div class="row feature ss">
            <div class="span6">
               <%= image_tag "showcase3.png"%>
            </div>
            <div class="span6 info">
                <h3>
                    <%= image_tag "features-ico3.png"%>
                    Your Personal Nutrition Coach
                </h3>
                <p>
                    There are many variations of passages of Lorem Ipsum available, but the randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
                </p>
            </div>
        </div>
    </div>