<div id="showcase">
    <div class="container">
        
        <div class="row feature ss">
            <div class="span8 info">
                <div class="section_header">
                    <h5 class="blue">PERFORM BETTER</h5>
                    <h3>What does CoreHero Offer...</h3>
                     <p>
                        There are many variations of passages of Lorem Ipsum available, but the randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
                    </p>
                </div>
            </div>
        </div>
        <div class="row feature_wrapper">
            <!-- Features Row -->
            <div class="features_op1_row">
                <!-- Feature -->
                <div class="span4 feature first">
                    <div class="img_box">
                        <a href="services.html">
							<%= image_tag "health_wellness.jpg"%>
                            <span class="circle"> 
                                <span class="plus">&#43;</span>
                            </span>
                        </a>
                    </div>
                    <div class="text">
                        <h5>Wellness Consulting</h5>
                        <p>
                            Consulting on all health and wellness related decisions, personalized workout routines and nutrition plans.
                        </p>
                    </div>
                </div>
                <!-- Feature -->
                <div class="span4 feature">
                    <div class="img_box">
                        <a href="services.html">
							<%= image_tag "group_training.jpg"%>
                            <span class="circle"> 
                                <span class="plus">&#43;</span>
                            </span>
                        </a>
                    </div>
                    <div class="text">
                        <h5>Virtual Personal Training</h5>
                        <p>
                            There are many variations of passages of generators on the  embarrassing hidden in   content here making it look like.
                        </p>
                    </div>
                </div>
                <!-- Feature -->
                <div class="span4 feature last">
                    <div class="img_box">
                        <a href="services.html">
                            <%= image_tag "personal_training.jpg"%>
                            <span class="circle"> 
                                <span class="plus">&#43;</span>
                            </span>
                        </a>
                    </div>
                    <div class="text">
                        <h5>Personal Training</h5>
                        <p>
                            There are many variations of passages of generators on the  embarrassing hidden in   content here making it look like.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <br/>
        <br/>
        <br/>
        <div class="row feature_wrapper">
            <!-- Features Row -->
            <div class="features_op1_row">
                <!-- Feature -->
                <div class="span4 feature first">
                    <div class="img_box">
                        <a href="services.html">
							<%= image_tag "strength_conditioning.jpg"%>
                            <span class="circle"> 
                                <span class="plus">&#43;</span>
                            </span>
                        </a>
                    </div>
                    <div class="text">
                        <h5>Strength & Conditioning</h5>
                        <p>
                            Workout routines for athletes of all levels: sport-specific, speed, strength, footwork and agility programming. 
                        </p>
                    </div>
                </div>
                <!-- Feature -->
                <div class="span4 feature">
                    <div class="img_box">
                        <a href="services.html">
							<%= image_tag "thumb_consulting.jpg"%>
                            <span class="circle"> 
                                <span class="plus">&#43;</span>
                            </span>
                        </a>
                    </div>
                    <div class="text">
                        <h5>Group Training</h5>
                        <p>
                            There are many variations of passages of generators on the  embarrassing hidden in   content here making it look like.
                        </p>
                    </div>
                </div>
                <!-- Feature -->
                <div class="span4 feature last">
                    <div class="img_box">
                        <a href="services.html">
                            <%= image_tag "personal_training.jpg"%>
                            <span class="circle"> 
                                <span class="plus">&#43;</span>
                            </span>
                        </a>
                    </div>
                    <div class="text">
                        <h5>Fitness Bootcamps</h5>
                        <p>
                            There are many variations of passages of generators on the  embarrassing hidden in   content here making it look like.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>