    <!-- Pricing Option 1 -->
<div id="in_pricing">
    <div class="container">
        <div class="row feature ss">
            <div class="span8 info">
                <div class="section_header">
                    <h5 class="blue">SUBSCRIPTIONS AND PRICING</h5>
                    <h3>Joining CoreHero...</h3>
                     <p>
                        There are many variations of passages of Lorem Ipsum available, but the randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
                    </p>
                </div>
            </div>
        </div>


<div id="in_pricing2">
    <div class="container">
            <div class="section_header">
                <h5 class="blue">HOLISTIC WELLNESS</h5>
                <h3>HEALTH AND WELLNESS CONSULTING</h3>
            </div>
         <div class="row charts_wrapp">
            <!-- Plan Box -->
            <div class="span3">
                <div class="plan">
                    <div class="wrapper">
                        <h3>Lite</h3>
                        <div class="price">
                            <span class="dollar">$</span> 
                            <span class="qty">35</span> 
                            <span class="month">/month</span>
                        </div>
                        <div class="features">
                            <p>
                                <strong>10</strong>
                                Shared Projects
                            </p>
                            <p>
                                <strong>4</strong>
                                Team Members
                            </p>
                            <p>
                                <strong>10</strong>
                                Storage
                            </p>
                        </div>
                        <a class="order" href="#">ORDER NOW</a>
                    </div>
                </div>
            </div>
            <!-- Plan Box -->
            <div class="span3">
                <div class="plan">
                    <div class="wrapper">
                        <h3>Standard</h3>
                        <div class="price">
                            <span class="dollar">$</span> 
                            <span class="qty">65</span> 
                            <span class="month">/month</span>
                        </div>
                        <div class="features">
                            <p>
                                <strong>10</strong>
                                Shared Projects
                            </p>
                            <p>
                                <strong>4</strong>
                                Team Members
                            </p>
                            <p>
                                <strong>10</strong>
                                Storage
                            </p>
                        </div>
                        <a class="order" href="#">ORDER NOW</a>
                    </div>
                </div>
            </div>
            <!-- Plan Box -->
            <div class="span3 ultra">
                <div class="plan">
                    <div class="wrapper">
						<%= image_tag "badge.png", class: "ribbon"%>
                        <h3>Ultra</h3>
                        <div class="price">
                            <span class="dollar">$</span> 
                            <span class="qty">99</span> 
                            <span class="month">/month</span>
                        </div>
                        <div class="features">
                            <p>
                                <strong>10</strong>
                                Shared Projects
                            </p>
                            <p>
                                <strong>25</strong>
                                Team Members
                            </p>
                            <p>
                                <strong>Unlimited</strong>
                                 Storage
                            </p>
                            <p>
                                <strong>Plus </strong>
                                Phone Support
                            </p>
                        </div>
                        <a class="order" href="#">ORDER NOW</a>
                    </div>
                </div>
            </div>
            <!-- Plan Box -->
            <div class="span3">
                <div class="plan">
                    <div class="wrapper">
                        <h3>Pro</h3>
                        <div class="price">
                            <span class="dollar">$</span> 
                            <span class="qty">80</span> 
                            <span class="month">/month</span>
                        </div>
                        <div class="features">
                            <p>
                                <strong>10</strong>
                                Shared Projects
                            </p>
                            <p>
                                <strong>4</strong>
                                Team Members
                            </p>
                            <p>
                                <strong>10</strong>
                                Storage
                            </p>
                        </div>
                        <a class="order" href="#">ORDER NOW</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Pricing Option3 -->
<div id="in_pricing2">
    <div class="container">
            <div class="section_header">
                <h5 class="blue">EXERCISE AND NUTRITION</h5>
                <h3>VIRTUAL PERSONAL TRAINING</h3>
            </div>

        <div class="row charts_wrapp">
            <!-- Plan Box -->
            <div class="span3">
                <div class="plan">
                    <div class="wrapper">
                        <h3>Lite</h3>
                        <div class="price">
                            <span class="dollar">$</span> 
                            <span class="qty">35</span> 
                            <span class="month">/month</span>
                        </div>
                        <div class="features">
                            <p>
                                <strong>10</strong>
                                Shared Projects
                            </p>
                            <p>
                                <strong>4</strong>
                                Team Members
                            </p>
                            <p>
                                <strong>10</strong>
                                Storage
                            </p>
                        </div>
                        <a class="order" href="#">ORDER NOW</a>
                    </div>
                </div>
            </div>
            <!-- Plan Box -->
            <div class="span3">
                <div class="plan">
                    <div class="wrapper">
                        <h3>Standard</h3>
                        <div class="price">
                            <span class="dollar">$</span> 
                            <span class="qty">65</span> 
                            <span class="month">/month</span>
                        </div>
                        <div class="features">
                            <p>
                                <strong>10</strong>
                                Shared Projects
                            </p>
                            <p>
                                <strong>4</strong>
                                Team Members
                            </p>
                            <p>
                                <strong>10</strong>
                                Storage
                            </p>
                        </div>
                        <a class="order" href="#">ORDER NOW</a>
                    </div>
                </div>
            </div>
            <!-- Plan Box -->
            <div class="span3 ultra">
                <div class="plan">
                    <div class="wrapper">
                        <%= image_tag "badge.png", class: "ribbon"%>
                        <h3>Ultra</h3>
                        <div class="price">
                            <span class="dollar">$</span> 
                            <span class="qty">99</span> 
                            <span class="month">/month</span>
                        </div>
                        <div class="features">
                            <p>
                                <strong>10</strong>
                                Shared Projects
                            </p>
                            <p>
                                <strong>25</strong>
                                Team Members
                            </p>
                            <p>
                                <strong>Unlimited</strong>
                                 Storage
                            </p>
                            <p>
                                <strong>Plus </strong>
                                Phone Support
                            </p>
                        </div>
                        <a class="order" href="#">ORDER NOW</a>
                    </div>
                </div>
            </div>
            <!-- Plan Box -->
            <div class="span3">
                <div class="plan">
                    <div class="wrapper">
                        <h3>Pro</h3>
                        <div class="price">
                            <span class="dollar">$</span> 
                            <span class="qty">80</span> 
                            <span class="month">/month</span>
                        </div>
                        <div class="features">
                            <p>
                                <strong>10</strong>
                                Shared Projects
                            </p>
                            <p>
                                <strong>4</strong>
                                Team Members
                            </p>
                            <p>
                                <strong>10</strong>
                                Storage
                            </p>
                        </div>
                        <a class="order" href="#">ORDER NOW</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Pricing Option3 -->
<div id="in_pricing2">
    <div class="container">
            <div class="section_header">
                <h5 class="blue">ELITE ATHLETIC DEVELOPMENT</h5>
                <h3>VIRTUAL SPORTS PERFORMANCE COACHING</h3>
            </div>

        <div class="row charts_wrapp">
            <!-- Plan Box -->
            <div class="span3">
                <div class="plan">
                    <div class="wrapper">
                        <h3>Lite</h3>
                        <div class="price">
                            <span class="dollar">$</span> 
                            <span class="qty">35</span> 
                            <span class="month">/month</span>
                        </div>
                        <div class="features">
                            <p>
                                <strong>10</strong>
                                Shared Projects
                            </p>
                            <p>
                                <strong>4</strong>
                                Team Members
                            </p>
                            <p>
                                <strong>10</strong>
                                Storage
                            </p>
                        </div>
                        <a class="order" href="#">ORDER NOW</a>
                    </div>
                </div>
            </div>
            <!-- Plan Box -->
            <div class="span3">
                <div class="plan">
                    <div class="wrapper">
                        <h3>Standard</h3>
                        <div class="price">
                            <span class="dollar">$</span> 
                            <span class="qty">65</span> 
                            <span class="month">/month</span>
                        </div>
                        <div class="features">
                            <p>
                                <strong>10</strong>
                                Shared Projects
                            </p>
                            <p>
                                <strong>4</strong>
                                Team Members
                            </p>
                            <p>
                                <strong>10</strong>
                                Storage
                            </p>
                        </div>
                        <a class="order" href="#">ORDER NOW</a>
                    </div>
                </div>
            </div>
            <!-- Plan Box -->
            <div class="span3 ultra">
                <div class="plan">
                    <div class="wrapper">
                        <%= image_tag "badge.png", class: "ribbon"%>
                        <h3>Ultra</h3>
                        <div class="price">
                            <span class="dollar">$</span> 
                            <span class="qty">99</span> 
                            <span class="month">/month</span>
                        </div>
                        <div class="features">
                            <p>
                                <strong>10</strong>
                                Shared Projects
                            </p>
                            <p>
                                <strong>25</strong>
                                Team Members
                            </p>
                            <p>
                                <strong>Unlimited</strong>
                                 Storage
                            </p>
                            <p>
                                <strong>Plus </strong>
                                Phone Support
                            </p>
                        </div>
                        <a class="order" href="#">ORDER NOW</a>
                    </div>
                </div>
            </div>
            <!-- Plan Box -->
            <div class="span3">
                <div class="plan">
                    <div class="wrapper">
                        <h3>Pro</h3>
                        <div class="price">
                            <span class="dollar">$</span> 
                            <span class="qty">80</span> 
                            <span class="month">/month</span>
                        </div>
                        <div class="features">
                            <p>
                                <strong>10</strong>
                                Shared Projects
                            </p>
                            <p>
                                <strong>4</strong>
                                Team Members
                            </p>
                            <p>
                                <strong>10</strong>
                                Storage
                            </p>
                        </div>
                        <a class="order" href="#">ORDER NOW</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Pricing Option3 -->
<div id="in_pricing2">
    <div class="container">
        <div class="section_header">
              <h5 class="blue">SPORT-SPECIFIC COACHING</h5>
             <h3>IN-PERSON STRENGTH AND CONDITIONING</h3>
        </div>

        <div class="row charts_wrapp">
            <!-- Plan Box -->
            <div class="span3">
                <div class="plan">
                    <div class="wrapper">
                        <h3>Lite</h3>
                        <div class="price">
                            <span class="dollar">$</span> 
                            <span class="qty">35</span> 
                            <span class="month">/month</span>
                        </div>
                        <div class="features">
                            <p>
                                <strong>10</strong>
                                Shared Projects
                            </p>
                            <p>
                                <strong>4</strong>
                                Team Members
                            </p>
                            <p>
                                <strong>10</strong>
                                Storage
                            </p>
                        </div>
                        <a class="order" href="#">ORDER NOW</a>
                    </div>
                </div>
            </div>
            <!-- Plan Box -->
            <div class="span3">
                <div class="plan">
                    <div class="wrapper">
                        <h3>Standard</h3>
                        <div class="price">
                            <span class="dollar">$</span> 
                            <span class="qty">65</span> 
                            <span class="month">/month</span>
                        </div>
                        <div class="features">
                            <p>
                                <strong>10</strong>
                                Shared Projects
                            </p>
                            <p>
                                <strong>4</strong>
                                Team Members
                            </p>
                            <p>
                                <strong>10</strong>
                                Storage
                            </p>
                        </div>
                        <a class="order" href="#">ORDER NOW</a>
                    </div>
                </div>
            </div>
            <!-- Plan Box -->
            <div class="span3 ultra">
                <div class="plan">
                    <div class="wrapper">
                        <%= image_tag "badge.png", class: "ribbon"%>
                        <h3>Ultra</h3>
                        <div class="price">
                            <span class="dollar">$</span> 
                            <span class="qty">99</span> 
                            <span class="month">/month</span>
                        </div>
                        <div class="features">
                            <p>
                                <strong>10</strong>
                                Shared Projects
                            </p>
                            <p>
                                <strong>25</strong>
                                Team Members
                            </p>
                            <p>
                                <strong>Unlimited</strong>
                                 Storage
                            </p>
                            <p>
                                <strong>Plus </strong>
                                Phone Support
                            </p>
                        </div>
                        <a class="order" href="#">ORDER NOW</a>
                    </div>
                </div>
            </div>
            <!-- Plan Box -->
            <div class="span3">
                <div class="plan">
                    <div class="wrapper">
                        <h3>Pro</h3>
                        <div class="price">
                            <span class="dollar">$</span> 
                            <span class="qty">80</span> 
                            <span class="month">/month</span>
                        </div>
                        <div class="features">
                            <p>
                                <strong>10</strong>
                                Shared Projects
                            </p>
                            <p>
                                <strong>4</strong>
                                Team Members
                            </p>
                            <p>
                                <strong>10</strong>
                                Storage
                            </p>
                        </div>
                        <a class="order" href="#">ORDER NOW</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Pricing Option3 -->
<div id="in_pricing2">
    <div class="container">
        <div class="section_header">
             <h5 class="blue">ONE-ON-ONE COACHING</h5>
             <h3>IN-PERSON PERSONAL TRAINING</h3>
        </div>

        <div class="row charts_wrapp">
            <!-- Plan Box -->
            <div class="span3">
                <div class="plan">
                    <div class="wrapper">
                        <h3>Lite</h3>
                        <div class="price">
                            <span class="dollar">$</span> 
                            <span class="qty">35</span> 
                            <span class="month">/month</span>
                        </div>
                        <div class="features">
                            <p>
                                <strong>10</strong>
                                Shared Projects
                            </p>
                            <p>
                                <strong>4</strong>
                                Team Members
                            </p>
                            <p>
                                <strong>10</strong>
                                Storage
                            </p>
                        </div>
                        <a class="order" href="#">ORDER NOW</a>
                    </div>
                </div>
            </div>
            <!-- Plan Box -->
            <div class="span3">
                <div class="plan">
                    <div class="wrapper">
                        <h3>Standard</h3>
                        <div class="price">
                            <span class="dollar">$</span> 
                            <span class="qty">65</span> 
                            <span class="month">/month</span>
                        </div>
                        <div class="features">
                            <p>
                                <strong>10</strong>
                                Shared Projects
                            </p>
                            <p>
                                <strong>4</strong>
                                Team Members
                            </p>
                            <p>
                                <strong>10</strong>
                                Storage
                            </p>
                        </div>
                        <a class="order" href="#">ORDER NOW</a>
                    </div>
                </div>
            </div>
            <!-- Plan Box -->
            <div class="span3 ultra">
                <div class="plan">
                    <div class="wrapper">
                        <%= image_tag "badge.png", class: "ribbon"%>
                        <h3>Ultra</h3>
                        <div class="price">
                            <span class="dollar">$</span> 
                            <span class="qty">99</span> 
                            <span class="month">/month</span>
                        </div>
                        <div class="features">
                            <p>
                                <strong>10</strong>
                                Shared Projects
                            </p>
                            <p>
                                <strong>25</strong>
                                Team Members
                            </p>
                            <p>
                                <strong>Unlimited</strong>
                                 Storage
                            </p>
                            <p>
                                <strong>Plus </strong>
                                Phone Support
                            </p>
                        </div>
                        <a class="order" href="#">ORDER NOW</a>
                    </div>
                </div>
            </div>
            <!-- Plan Box -->
            <div class="span3">
                <div class="plan">
                    <div class="wrapper">
                        <h3>Pro</h3>
                        <div class="price">
                            <span class="dollar">$</span> 
                            <span class="qty">80</span> 
                            <span class="month">/month</span>
                        </div>
                        <div class="features">
                            <p>
                                <strong>10</strong>
                                Shared Projects
                            </p>
                            <p>
                                <strong>4</strong>
                                Team Members
                            </p>
                            <p>
                                <strong>10</strong>
                                Storage
                            </p>
                        </div>
                        <a class="order" href="#">ORDER NOW</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Pricing Option3 -->
<div id="in_pricing2">
    <div class="container">
        <div class="section_header">
            <h5 class="blue">PEER FITNESS</h5>
            <h3>GROUP TRAINING</h3>
        </div>

        <div class="row charts_wrapp">
            <!-- Plan Box -->
            <div class="span3">
                <div class="plan">
                    <div class="wrapper">
                        <h3>Lite</h3>
                        <div class="price">
                            <span class="dollar">$</span> 
                            <span class="qty">35</span> 
                            <span class="month">/month</span>
                        </div>
                        <div class="features">
                            <p>
                                <strong>10</strong>
                                Shared Projects
                            </p>
                            <p>
                                <strong>4</strong>
                                Team Members
                            </p>
                            <p>
                                <strong>10</strong>
                                Storage
                            </p>
                        </div>
                        <a class="order" href="#">ORDER NOW</a>
                    </div>
                </div>
            </div>
            <!-- Plan Box -->
            <div class="span3">
                <div class="plan">
                    <div class="wrapper">
                        <h3>Standard</h3>
                        <div class="price">
                            <span class="dollar">$</span> 
                            <span class="qty">65</span> 
                            <span class="month">/month</span>
                        </div>
                        <div class="features">
                            <p>
                                <strong>10</strong>
                                Shared Projects
                            </p>
                            <p>
                                <strong>4</strong>
                                Team Members
                            </p>
                            <p>
                                <strong>10</strong>
                                Storage
                            </p>
                        </div>
                        <a class="order" href="#">ORDER NOW</a>
                    </div>
                </div>
            </div>
            <!-- Plan Box -->
            <div class="span3 ultra">
                <div class="plan">
                    <div class="wrapper">
                        <%= image_tag "badge.png", class: "ribbon"%>
                        <h3>Ultra</h3>
                        <div class="price">
                            <span class="dollar">$</span> 
                            <span class="qty">99</span> 
                            <span class="month">/month</span>
                        </div>
                        <div class="features">
                            <p>
                                <strong>10</strong>
                                Shared Projects
                            </p>
                            <p>
                                <strong>25</strong>
                                Team Members
                            </p>
                            <p>
                                <strong>Unlimited</strong>
                                 Storage
                            </p>
                            <p>
                                <strong>Plus </strong>
                                Phone Support
                            </p>
                        </div>
                        <a class="order" href="#">ORDER NOW</a>
                    </div>
                </div>
            </div>
            <!-- Plan Box -->
            <div class="span3">
                <div class="plan">
                    <div class="wrapper">
                        <h3>Pro</h3>
                        <div class="price">
                            <span class="dollar">$</span> 
                            <span class="qty">80</span> 
                            <span class="month">/month</span>
                        </div>
                        <div class="features">
                            <p>
                                <strong>10</strong>
                                Shared Projects
                            </p>
                            <p>
                                <strong>4</strong>
                                Team Members
                            </p>
                            <p>
                                <strong>10</strong>
                                Storage
                            </p>
                        </div>
                        <a class="order" href="#">ORDER NOW</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Pricing Option3 -->
<div id="in_pricing2">
    <div class="container">
        <div class="section_header">
            <h5 class="blue">GROUP INSTRUCTION</h5>
            <h3>FITNESS BOOTCAMPS</h3>
        </div>

        <div class="row charts_wrapp">
            <!-- Plan Box -->
            <div class="span3">
                <div class="plan">
                    <div class="wrapper">
                        <h3>Lite</h3>
                        <div class="price">
                            <span class="dollar">$</span> 
                            <span class="qty">35</span> 
                            <span class="month">/month</span>
                        </div>
                        <div class="features">
                            <p>
                                <strong>10</strong>
                                Shared Projects
                            </p>
                            <p>
                                <strong>4</strong>
                                Team Members
                            </p>
                            <p>
                                <strong>10</strong>
                                Storage
                            </p>
                        </div>
                        <a class="order" href="#">ORDER NOW</a>
                    </div>
                </div>
            </div>
            <!-- Plan Box -->
            <div class="span3">
                <div class="plan">
                    <div class="wrapper">
                        <h3>Standard</h3>
                        <div class="price">
                            <span class="dollar">$</span> 
                            <span class="qty">65</span> 
                            <span class="month">/month</span>
                        </div>
                        <div class="features">
                            <p>
                                <strong>10</strong>
                                Shared Projects
                            </p>
                            <p>
                                <strong>4</strong>
                                Team Members
                            </p>
                            <p>
                                <strong>10</strong>
                                Storage
                            </p>
                        </div>
                        <a class="order" href="#">ORDER NOW</a>
                    </div>
                </div>
            </div>
            <!-- Plan Box -->
            <div class="span3 ultra">
                <div class="plan">
                    <div class="wrapper">
                        <%= image_tag "badge.png", class: "ribbon"%>
                        <h3>Ultra</h3>
                        <div class="price">
                            <span class="dollar">$</span> 
                            <span class="qty">99</span> 
                            <span class="month">/month</span>
                        </div>
                        <div class="features">
                            <p>
                                <strong>10</strong>
                                Shared Projects
                            </p>
                            <p>
                                <strong>25</strong>
                                Team Members
                            </p>
                            <p>
                                <strong>Unlimited</strong>
                                 Storage
                            </p>
                            <p>
                                <strong>Plus </strong>
                                Phone Support
                            </p>
                        </div>
                        <a class="order" href="#">ORDER NOW</a>
                    </div>
                </div>
            </div>
            <!-- Plan Box -->
            <div class="span3">
                <div class="plan">
                    <div class="wrapper">
                        <h3>Pro</h3>
                        <div class="price">
                            <span class="dollar">$</span> 
                            <span class="qty">80</span> 
                            <span class="month">/month</span>
                        </div>
                        <div class="features">
                            <p>
                                <strong>10</strong>
                                Shared Projects
                            </p>
                            <p>
                                <strong>4</strong>
                                Team Members
                            </p>
                            <p>
                                <strong>10</strong>
                                Storage
                            </p>
                        </div>
                        <a class="order" href="#">ORDER NOW</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>