<!-- starts footer -->
<footer id="footer">
    <div class="container">
        <div class="row sections">
               <div class="section_header">
                    <h5 class="blue">RESULTS, RESULTS, RESULTS</h5>
                    <h3>What CoreHero clients say...</h3>
                </div>
                <div class="row-fluid">
                    <div class="span4 testimonials">
                        <div class="wrapper">
                            <div class="author">
                                <%= image_tag "headshot_khadijah.jpg"%>
                                <div class="name">Khadijah Coakley</div>
                                <div class="info">
                                    Wellness Coaching Client
                                </div>
                            </div>
                            <div class="quote">
                                <span>“</span>
                                There are many variations of passages of randomised words which don't look even slightly believable. You need to be sure there isn't anything embarrassing of text.
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div class="span4 testimonials">
                        <div class="wrapper">
                            <div class="author">
								<%= image_tag "headshot_cordis.jpg"%>
                                <div class="name">Cordis Stanfield</div>
                                <div class="info">
                                    Group Coaching Client
                                </div>
                            </div>
                            <div class="quote">
                                <span>“</span>
                                There are many variations of passages of randomised words which don't look even slightly believable. You need to be sure there isn't anything embarrassing of text.
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div class="span4 testimonials">
                        <div class="wrapper">
                            <div class="author">
                                <%= image_tag "headshot_pj.jpg"%>
                                <div class="name">Alejandra Galvan Castillo</div>
                                <div class="info">
                                    Personal Training Client
                                </div>
                            </div>
                            <div class="quote">
                                <span>“</span>
                                There are many variations of passages of randomised words which don't look even slightly believable. You need to be sure there isn't anything embarrassing of text.
                                <span></span>
                            </div>
                        </div>
                    </div>
            </div>
        <br/>
        <br/>
        <br/>
        <div class="row-fluid">
                     <div class="span4 testimonials">
                        <div class="wrapper">
                            <div class="author">
                                <%= image_tag "headshot_dennis.jpg"%>
                                <div class="name">Alejandra Galvan Castillo</div>
                                <div class="info">
                                    Strength & Conditioning Client
                                </div>
                            </div>
                            <div class="quote">
                                <span>“</span>
                                There are many variations of passages of randomised words which don't look even slightly believable. You need to be sure there isn't anything embarrassing of text.
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div class="span4 testimonials">
                        <div class="wrapper">
                            <div class="author">
								<%= image_tag "user-display.png"%>
                                <div class="name">Alejandra Galvan Castillo</div>
                                <div class="info">
                                    Group Coaching Client
                                </div>
                            </div>
                            <div class="quote">
                                <span>“</span>
                                There are many variations of passages of randomised words which don't look even slightly believable. You need to be sure there isn't anything embarrassing of text.
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div class="span4 testimonials">
                        <div class="wrapper">
                            <div class="author">
                                <%= image_tag "headshot_khadijah.jpg"%>
                                <div class="name">Alejandra Galvan Castillo</div>
                                <div class="info">
                                    Personal Training Client
                                </div>
                            </div>
                            <div class="quote">
                                <span>“</span>
                                There are many variations of passages of randomised words which don't look even slightly believable. You need to be sure there isn't anything embarrassing of text.
                                <span></span>
                            </div>
                        </div>
                    </div>
            </div>
        <br/>
        <br/>
        <br/>
        <div class="row-fluid">
                     <div class="span4 testimonials">
                        <div class="wrapper">
                            <div class="author">
                                <%= image_tag "headshot_cordis.jpg"%>
                                <div class="name">Alejandra Galvan Castillo</div>
                                <div class="info">
                                    Group Coaching Client
                                </div>
                            </div>
                            <div class="quote">
                                <span>“</span>
                                There are many variations of passages of randomised words which don't look even slightly believable. You need to be sure there isn't anything embarrassing of text.
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div class="span4 testimonials">
                        <div class="wrapper">
                            <div class="author">
                                <%= image_tag "headshot_pj.jpg"%>
                                <div class="name">Alejandra Galvan Castillo</div>
                                <div class="info">
                                    Personal Training Client
                                </div>
                            </div>
                            <div class="quote">
                                <span>“</span>
                                There are many variations of passages of randomised words which don't look even slightly believable. You need to be sure there isn't anything embarrassing of text.
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div class="span4 testimonials">
                        <div class="wrapper">
                            <div class="author">
                                <%= image_tag "headshot_dennis.jpg"%>
                                <div class="name">Alejandra Galvan Castillo</div>
                                <div class="info">
                                    Strength & Conditioning Client
                                </div>
                            </div>
                            <div class="quote">
                                <span>“</span>
                                There are many variations of passages of randomised words which don't look even slightly believable. You need to be sure there isn't anything embarrassing of text.
                                <span></span>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <br/>
        <br/>
        <br/>
        <div class="row-fluid">
                     <div class="span4 testimonials">
                        <div class="wrapper">
                            <div class="author">
                                <%= image_tag "headshot_cordis.jpg"%>
                                <div class="name">Alejandra Galvan Castillo</div>
                                <div class="info">
                                    Group Coaching Client
                                </div>
                            </div>
                            <div class="quote">
                                <span>“</span>
                                There are many variations of passages of randomised words which don't look even slightly believable. You need to be sure there isn't anything embarrassing of text.
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div class="span4 testimonials">
                        <div class="wrapper">
                            <div class="author">
                                <%= image_tag "headshot_pj.jpg"%>
                                <div class="name">Alejandra Galvan Castillo</div>
                                <div class="info">
                                    Personal Training Client
                                </div>
                            </div>
                            <div class="quote">
                                <span>“</span>
                                There are many variations of passages of randomised words which don't look even slightly believable. You need to be sure there isn't anything embarrassing of text.
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div class="span4 testimonials">
                        <div class="wrapper">
                            <div class="author">
                                <%= image_tag "headshot_dennis.jpg"%>
                                <div class="name">Alejandra Galvan Castillo</div>
                                <div class="info">
                                    Strength & Conditioning Client
                                </div>
                            </div>
                            <div class="quote">
                                <span>“</span>
                                There are many variations of passages of randomised words which don't look even slightly believable. You need to be sure there isn't anything embarrassing of text.
                                <span></span>
                            </div>
                        </div>
                    </div>
            </div>
        </div>

        <br/>
        <div class="container">
                <div class="row credits">
                    <div class="span12">
                        <div class="row social">
                            <div class="span12">
                                <a href="#" class="facebook">
                                    <span class="socialicons ico1"></span>
                                    <span class="socialicons_h ico1h"></span>
                                </a>
                                <a href="#" class="twitter">
                                    <span class="socialicons ico2"></span>
                                    <span class="socialicons_h ico2h"></span>
                                </a>
                                <a href="#" class="gplus">
                                    <span class="socialicons ico3"></span>
                                    <span class="socialicons_h ico3h"></span>
                                </a>
                            </div>
                        </div>
                        <div class="row copyright">
                            <div class="span12">
                                © 2013 CoreHero.   All rights reserved.   Designed by Wildfyre.
                            </div>
                        </div>
                    </div>            
                </div>
        </div>
    </div>
</footer>