
       <%= f.label :content, "Question" %>
       <%= f.text_area :content %>
       <div id = "answers">
       <%= f.fields_for :answers do |answer| %>
	   <%= render 'answer_fields', f: answer %><br>
	   <%= link_to_add_association 'add answer', f, :answers,  {:'data-association-insertion-traversal' => :closest, :'data-association-insertion-method' => :before} %>
       </div>
	   <div class = "links">
       
        
<% end %>
  
  
  
  
  
  
  
  
  
  
  
  
  <%#<div id = "answers"> %>
  
 <%# </div> %>
  <%#<div class = "links">%>
	<%#= link_to_add_association 'add answer', q, :answers,  {:'data-association-insertion-method' => :before} %>
  <%#</div>%>