 <div id="user_admin">
    <div id="section_header">
        <div class="container">
            <div class="row">
                <div class="wo_header">
                    <div class="wo_title">
                        <h5>CoreHero Client</h5>
                        <h2>Hi, <%= current_user.fullname%></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div id="admin_section">
    <div class="container">
        <div class="row">
            <ul class="nav nav-pills">
             <li><%= link_to "Workouts", workouts_path %></li>
              <li><a href="#meal_plans" data-toggle="tab">Meal Plans</a></li>
               <li class="active"><%= link_to "Surveys", surveys_path %></li>
            </ul>
            <div class="tab-content">
                  <div id="workouts" class="tab-pane active">
					  <% if current_user.assessment%>
                            <h4>My Workouts</h4>
                            <table class="table table-condensed">
                              <thead>
                                <tr>
                                  <th>Date Posted</th>
                                  <th>Name</th>
                                  <th>Type</th>
                                  <th></th>
                                  <th>Completed?</th>
                                </tr>
                              </thead>
                              <tbody>
								    
                                <tr>
                                  <td><%= @assessment.created_at %></td>
                                  <td><%= link_to @assessment.name, root_path %></td>
                                  <td>Initial Assessment</td>
                                  <td></td>
                                  <td><img src="img/icon_new_orange.png"></td>
								  <td><img src="img/icon_checkmark-g.png" alt=""></td>
                                </tr>
                                
                              </tbody>
							
                            </table><% else %>
							<h4>You don't have any workouts to show. Let's change that.</h4>
							<% end %>
                    </div><!-- end #workouts -->
					
					
					
					
					
                  <div id="meal_plans" class="tab-pane">
                            <h4>Meal Plans</h4>
                            <table class="table table-condensed">
                              <thead>
                                <tr>
                                  <th>Date Posted</th>
                                  <th>Name</th>
                                  <th>Completed?</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>9/13/13</td>
                                  <td>Week 3 - Intermittent Fasting Meal Plan</td>
                                  <td><img src="img/icon_new_orange.png"></td>
                                </tr>
                                <tr>
                                  <td>9/6/13</td>
                                  <td>Week 2 - Intermittent Fasting Meal Plan</td>
                                  <td><img src="img/icon_checkmark-g.png" alt=""></td>
                                </tr>
                                <tr>
                                  <td>9/1/13</td>
                                  <td>Week 1 - Intermittent Fasting Meal Plan</td>
                                  <td><img src="img/icon_checkmark-g.png" alt=""></td>
                                </tr>
                              </tbody>
                            </table>
                    </div><!-- end #meal_plans-->
					
					
					
					
					
                  <div id="surveys" class="tab-pane">
                            <h4>Surveys</h4>
                            <table class="table table-condensed">
                              <thead>
                                <tr>
                                  <th>Date Posted</th>
                                  <th>Name</th>
                                  <th>Completed?</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>9/13/13</td>
                                  <td>2 Week Client Assessment</td>
                                  <td><img src="img/icon_new_orange.png"></td>
                                </tr>
                                <tr>
                                  <td>9/6/13</td>
                                  <td>1 Week Client Assessment</td>
                                  <td><img src="img/icon_checkmark-g.png" alt=""></td>
                                </tr>
                                <tr>
                                  <td>9/1/13</td>
                                  <td>New Client Assessment</td>
                                  <td><img src="img/icon_checkmark-g.png" alt=""></td>
                                </tr>
                              </tbody>
                            </table>
                    </div><!-- end #surveys-->
              </div><!-- end #tab-content -->
          </div><!-- end .row -->
    </div><!-- end .container -->
</div><!-- end #admin_section -->


   